/* Global Declarations */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

/* Main App */

.App {
  width: 100%;
  background-color: #a4c4f8;
  min-height: 100vh;
}

/* Navbar */

header {
  z-index: 1;
  position: fixed;
  display: flex;
  background-color: #09347a;
  color: aliceblue;
  width: 100%;
  height: 10vh;
  padding: 0.5rem;
  text-align: center;
  justify-content: space-between;
}

.home-link {
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 2px 0 0 #609dff, -2px 0 0 #609dff, 0 2px 0 #609dff,
    0 -2px 0 #609dff, 1px 1px #609dff;
  margin-left: 2rem;
  cursor: pointer;
}

.wish-link,
.cart-link {
  cursor: pointer;
  margin-top: 0.3rem;
  font-weight: 500;
  margin-right: 3rem;
}

.wish-link {
  font-size: 2rem;
  color: rgba(255, 0, 0, 0.9);
}

.cart-link {
  font-size: 1.7rem;
}

/* Product Catalog */

main {
  width: 100%;
}

.product-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem;
  gap: 2rem;
}

/* Product Card */

.product-card {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  cursor: pointer;
  width: 100%;
  height: 30rem;
  box-shadow: 0 0 0.15rem 0 #666;
  transition: 0.15s;
}

.heart {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

.product-card:hover {
  box-shadow: 0 0 0.5rem 0 #666;
  transform: scale(1.005);
  transition: 0.3s;
}

.product-title {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
  height: 2rem;
  overflow: hidden;
}

.product-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 18rem;
  height: 18rem;
}

.product-desc {
  font-size: 0.8rem;
  height: 6rem;
  font-weight: 400;
  overflow: hidden;
}

.product-price {
  font-size: 2rem;
  font-weight: 600;
  height: 3rem;
}

/* Product Details */

.product-details {
  padding: 5rem;
  display: flex;
  width: 100%;
}

.product-details-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 30vw;
  height: 30vw;
}

.product-details-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.product-details-desc {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

.product-details-price {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.quantity-selector {
  font-size: 2rem;
  margin-top: 1rem;
  width: 10rem;
  height: 2.5rem;
}

.quantity-selector input {
  padding-left: 1rem;
  text-align: center;
  background-color: white;
  width: 40%;
}

.quantity-selector button {
  border: 1px solid black;
  background-color: white;
  width: 30%;
}

.quantity-selector button:hover {
  background-color: #ddd;
}

.add-to-cart {
  background-color: #09347a;
  color: white;
  margin-top: 3rem;
  width: 10rem;
  height: 3rem;
}

.add-to-cart:hover {
  background-color: #245097;
  transition: 0.2s;
}

/* Wishlist */

.wish-container {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wish-item {
  background-color: white;
  box-shadow: inset 0 0 0.25rem 0 #09347a;
  padding: 1rem;
  display: flex;
  width: 50%;
  margin-bottom: 1rem;
}

.wish-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 10vw;
  height: 10vw;
}

.wish-title {
  font-size: 1rem;
  font-weight: 600;
}

.wish-price {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.delete {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  fill: #aaa;
  transition: 0.2s;
}

.delete:hover {
  transition: 0.4s;
  fill: red;
}

/* Cart */

.overlay {
  z-index: 5;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cart {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 100vh;
  background-color: #eee;
}
.cart-header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  padding: 1rem 2rem;
  border-bottom: 1px solid #aaa;
}

.cart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  overflow-y: scroll;
}

.cart-container::-webkit-scrollbar {
  display: none;
}

.cart-item {
  background-color: white;
  box-shadow: 0 0 0.3rem 0.1rem #ddd;
  padding: 0.75rem;
  display: flex;
  width: 90%;
  margin-bottom: 1rem;
}

.cart-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 10vw;
  height: 10vw;
}

.cart-title {
  font-size: 1rem;
  font-weight: 600;
}

.cart-price {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.cart-quantity-selector {
  font-size: 1rem;
  width: 8rem;
  height: 1.5rem;
}

.cart-quantity-selector input {
  border: 1px solid black;
  padding-left: 1rem;
  text-align: center;
  background-color: white;
  width: 40%;
}

.cart-quantity-selector button {
  border: 1px solid black;
  background-color: white;
  width: 30%;
}

.cart-quantity-selector button:hover {
  background-color: #ddd;
}

.noscroll {
  position: fixed;
  overflow-y: scroll;
}
